# back/core/.env
PG_HOST=
PG_USER=
PG_PASS=
PG_PORT=

# Bases de chaque module
DB_CUSTOMER_ACCOUNTS=
DB_ADMIN_ACCOUNTS=
DB_ORDERS=
DB_STORE_MANAGEMENT=
DB_EVENT_WEBHOOKS=


JWT_SECRET=
JWT_REFRESH_SECRET=
ACCESS_TOKEN_EXPIRES_SEC=
REFRESH_TOKEN_EXPIRES_SEC=

DOCKERHUB_CORE_USERNAME=
DOCKERHUB_STORE_GATEWAY_USERNAME=
